## Exploring Automobile Data Set

I will explore the Automobile Dataset in this notebook.
You can find more about the dataset [here](https://archive.ics.uci.edu/ml/datasets/Automobile)

In [2]:
#Let's start by importing the libraries needed 
import pandas as pd

In [3]:
#url of the csv of the data
url = "https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DA0101EN/auto.csv"

#let's put the data in a dataframe
df = pd.read_csv(url)

#let's check the dataframe
df.head()

,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
1,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
2,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
3,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
4,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250

In [4]:
df.tail()

,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
199,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
200,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
201,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
202,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
203,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [5]:
#The data frame uses the first row as headers let's change that
headers = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]
df.columns = headers
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
1,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
2,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
3,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
4,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250

In [6]:
#let's get the shape of our data frame
df.shape

(204, 26)

In [10]:
#now let's drop the missing values in the data frame in the price column 
df.dropna(subset=["price"], axis=0)
df.shape

(204, 26)

In [15]:
#let's get rid of unwanted columns
#first we see all the columns
pd.set_option('display.max_columns',None)
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,height,curb-weight,engine-type,num-of-cylinders,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
1,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,52.4,2823,ohcv,six,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
2,2,164,audi,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,54.3,2337,ohc,four,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
3,2,164,audi,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,54.3,2824,ohc,five,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
4,2,?,audi,gas,std,two,sedan,fwd,front,99.8,177.3,66.3,53.1,2507,ohc,five,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250

In [16]:
#Now let's drop unwanted columns
df.drop(['symboling','normalized-losses'],axis=1,inplace=True)
df.head()

,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,height,curb-weight,engine-type,num-of-cylinders,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
1,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,52.4,2823,ohcv,six,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
2,audi,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,54.3,2337,ohc,four,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
3,audi,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,54.3,2824,ohc,five,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
4,audi,gas,std,two,sedan,fwd,front,99.8,177.3,66.3,53.1,2507,ohc,five,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250

In [17]:
#let's save the cleaned dataframe to CSV
df.to_csv("AutomobileDataSet.csv",index=False) # avoid Python/Pandas creating an index in a saved csv

In [19]:
#let's see the types of each column
df.dtypes

make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

In [20]:
#let's get a statistical summary
df.describe()

,wheel-base,length,width,height,curb-weight,engine-size,compression-ratio,city-mpg,highway-mpg
count,204.000000,204.000000,204.000000,204.000000,204.000000,204.000000,204.000000,204.000000,204.000000
mean,98.806373,174.075000,65.916667,53.749020,2555.602941,126.892157,10.148137,25.240196,30.769608
std,5.994144,12.362123,2.146716,2.424901,521.960820,41.744569,3.981000,6.551513,6.898337
min,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,7.000000,13.000000,16.000000
25%,94.500000,166.300000,64.075000,52.000000,2145.000000,97.000000,8.575000,19.000000,25.000000
50%,97.000000,173.200000,65.500000,54.100000,2414.000000,119.500000,9.000000,24.000000,30.000000
75%,102.400000,183.200000,66.900000,55.500000,2939.250000,142.000000,9.400000,30.000000,34.500000
max,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,23.000000,49.000000,54.000000

In [21]:
#let's do that for all columns
df.describe(include="all")

,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,height,curb-weight,engine-type,num-of-cylinders,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
count,204,204,204,204,204,204,204,204.000000,204.000000,204.000000,204.000000,204.000000,204,204,204.000000,204,204,204,204.000000,204,204,204.000000,204.000000,204
unique,22,2,2,3,5,3,2,NaN,NaN,NaN,NaN,NaN,7,7,NaN,8,39,37,NaN,60,24,NaN,NaN,186
top,toyota,gas,std,four,sedan,fwd,front,NaN,NaN,NaN,NaN,NaN,ohc,four,NaN,mpfi,3.62,3.40,NaN,68,5500,NaN,NaN,?
freq,32,184,167,114,96,120,201,NaN,NaN,NaN,NaN,NaN,148,158,NaN,93,23,20,NaN,19,37,NaN,NaN,4
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98.806373,174.075000,65.916667,53.749020,2555.602941,NaN,NaN,126.892157,NaN,NaN,NaN,10.148137,NaN,NaN,25.240196,30.769608,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.994144,12.362123,2.146716,2.424901,521.960820,NaN,NaN,41.744569,NaN,NaN,NaN,3.981000,NaN,NaN,6.551513,6.898337,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86.600000,141.100000,60.300000,47.800000,1488.000000,NaN,NaN,61.000000,NaN,NaN,NaN,7.000000,NaN,NaN,13.000000,16.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94.500000,166.300000,64.075000,52.000000,2145.000000,NaN,NaN,97.000000,NaN,NaN,NaN,8.575000,NaN,NaN,19.000000,25.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97.000000,173.200000,65.500000,54.100000,2414.000000,NaN,NaN,119.500000,NaN,NaN,NaN,9.000000,NaN,NaN,24.000000,30.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,102.400000,183.200000,66.900000,55.500000,2939.250000,NaN,NaN,142.000000,NaN,NaN,NaN,9.400000,NaN,NaN,30.000000,34.500000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,120.900000,208.100000,72.300000,59.800000,4066.000000,NaN,NaN,326.000000,NaN,NaN,NaN,23.000000,NaN,NaN,49.000000,54.000000,NaN

In [25]:
#let's get the top and bottom 30 rows
df.info

<bound method DataFrame.info of             make fuel-type aspiration num-of-doors   body-style drive-wheels  \
0    alfa-romero       gas        std          two  convertible          rwd
1    alfa-romero       gas        std          two    hatchback          rwd
2           audi       gas        std         four        sedan          fwd
3           audi       gas        std         four        sedan          4wd
4           audi       gas        std          two        sedan          fwd
5           audi       gas        std         four        sedan          fwd
6           audi       gas        std         four        wagon          fwd
7           audi       gas      turbo         four        sedan          fwd
8           audi       gas      turbo          two    hatchback          4wd
9            bmw       gas        std          two        sedan          rwd
10           bmw       gas        std         four        sedan          rwd
11           bmw       gas        std          two        sedan          rwd
12           bmw       gas        std         four        sedan          rwd
13           bmw       gas        std         four        sedan          rwd
14           bmw       gas        std         four        sedan          rwd
15           bmw       gas        std          two        sedan          rwd
16           bmw       gas        std         four        sedan          rwd
17     chevrolet       gas        std          two    hatchback          fwd
18     chevrolet       gas        std          two    hatchback          fwd
19     chevrolet       gas        std         four        sedan          fwd
20         dodge       gas        std          two    hatchback          fwd
21         dodge       gas        std          two    hatchback          fwd
22         dodge       gas      turbo          two    hatchback          fwd
23         dodge       gas        std         four    hatchback          fwd
24         dodge       gas        std         four        sedan          fwd
25         dodge       gas        std         four        sedan          fwd
26         dodge       gas      turbo            ?        sedan          fwd
27         dodge       gas        std         four        wagon          fwd
28         dodge       gas      turbo          two    hatchback          fwd
29         honda       gas        std          two    hatchback          fwd
..           ...       ...        ...          ...          ...          ...
174       toyota       gas        std         four    hatchback          fwd
175       toyota       gas        std         four        sedan          fwd
176       toyota       gas        std         four    hatchback          fwd
177       toyota       gas        std          two    hatchback          rwd
178       toyota       gas        std          two    hatchback          rwd
179       toyota       gas        std         four        sedan          rwd
180       toyota       gas        std         four        wagon          rwd
181   volkswagen    diesel        std          two        sedan          fwd
182   volkswagen       gas        std          two        sedan          fwd
183   volkswagen    diesel        std         four        sedan          fwd
184   volkswagen       gas        std         four        sedan          fwd
185   volkswagen       gas        std         four        sedan          fwd
186   volkswagen    diesel      turbo         four        sedan          fwd
187   volkswagen       gas        std         four        sedan          fwd
188   volkswagen       gas        std          two  convertible          fwd
189   volkswagen       gas        std          two    hatchback          fwd
190   volkswagen       gas        std         four        sedan          fwd
191   volkswagen    diesel      turbo         four        sedan          fwd
192   volkswagen       gas        std         four        wagon          fwd
193        volvo       gas        std         four        sedan          rwd
194        volvo       gas        std         four        wagon          rwd
195        volvo       gas        std         four        sedan          rwd
196        volvo       gas        std         four        wagon          rwd
197        volvo       gas      turbo         four        sedan          rwd
198        volvo       gas      turbo         four        wagon          rwd
199        volvo       gas        std         four        sedan          rwd
200        volvo       gas      turbo         four        sedan          rwd
201        volvo       gas        std         four        sedan          rwd
202        volvo    diesel      turbo         four        sedan          rwd
203        volvo       gas      turbo         four        sedan          rwd

    engine-location  wheel-base  length  width  height  curb-weight  \
0             front        88.6   168.8   64.1    48.8         2548
1             front        94.5   171.2   65.5    52.4         2823
2             front        99.8   176.6   66.2    54.3         2337
3             front        99.4   176.6   66.4    54.3         2824
4             front        99.8   177.3   66.3    53.1         2507
5             front       105.8   192.7   71.4    55.7         2844
6             front       105.8   192.7   71.4    55.7         2954
7             front       105.8   192.7   71.4    55.9         3086
8             front        99.5   178.2   67.9    52.0         3053
9             front       101.2   176.8   64.8    54.3         2395
10            front       101.2   176.8   64.8    54.3         2395
11            front       101.2   176.8   64.8    54.3         2710
12            front       101.2   176.8   64.8    54.3         2765
13            front       103.5   189.0   66.9    55.7         3055
14            front       103.5   189.0   66.9    55.7         3230
15            front       103.5   193.8   67.9    53.7         3380
16            front       110.0   197.0   70.9    56.3         3505
17            front        88.4   141.1   60.3    53.2         1488
18            front        94.5   155.9   63.6    52.0         1874
19            front        94.5   158.8   63.6    52.0         1909
20            front        93.7   157.3   63.8    50.8         1876
21            front        93.7   157.3   63.8    50.8         1876
22            front        93.7   157.3   63.8    50.8         2128
23            front        93.7   157.3   63.8    50.6         1967
24            front        93.7   157.3   63.8    50.6         1989
25            front        93.7   157.3   63.8    50.6         1989
26            front        93.7   157.3   63.8    50.6         2191
27            front       103.3   174.6   64.6    59.8         2535
28            front        95.9   173.2   66.3    50.2         2811
29            front        86.6   144.6   63.9    50.8         1713
..              ...         ...     ...    ...     ...          ...
174           front       102.4   175.6   66.5    53.9         2414
175           front       102.4   175.6   66.5    54.9         2414
176           front       102.4   175.6   66.5    53.9         2458
177           front       102.9   183.5   67.7    52.0         2976
178           front       102.9   183.5   67.7    52.0         3016
179           front       104.5   187.8   66.5    54.1         3131
180           front       104.5   187.8   66.5    54.1         3151
181           front        97.3   171.7   65.5    55.7         2261
182           front        97.3   171.7   65.5    55.7         2209
183           front        97.3   171.7   65.5    55.7         2264
184           front        97.3   171.7   65.5    55.7         2212
185           front        97.3   171.7   65.5    55.7         2275
186           front        97.3   171.7   65.5    55.7         2319
187           front        97.3   171.7   65.5    55.7         2300
188           front        94.5   159.3   64.2    55.6         2254
189           front        94.5   165.7   64.0    51.4         2221
190           front       100.4   180.2   66.9    55.1         2661
191           front       100.4   180.2   66.9    55.1         2579
192           front       100.4   183.1   66.9    55.1         2563
193           front       104.3   188.8   67.2    56.2         2912
194           front       104.3   188.8   67.2    57.5         3034
195           front       104.3   188.8   67.2    56.2         2935
196           front       104.3   188.8   67.2    57.5         3042
197           front       104.3   188.8   67.2    56.2         3045
198           front       104.3   188.8   67.2    57.5         3157
199           front       109.1   188.8   68.9    55.5         2952
200           front       109.1   188.8   68.8    55.5         3049
201           front       109.1   188.8   68.9    55.5         3012
202           front       109.1   188.8   68.9    55.5         3217
203           front       109.1   188.8   68.9    55.5         3062

    engine-type num-of-cylinders  engine-size fuel-system  bore stroke  \
0          dohc             four          130        mpfi  3.47   2.68
1          ohcv              six          152        mpfi  2.68   3.47
2           ohc             four          109        mpfi  3.19   3.40
3           ohc             five          136        mpfi  3.19   3.40
4           ohc             five          136        mpfi  3.19   3.40
5           ohc             five          136        mpfi  3.19   3.40
6           ohc             five          136        mpfi  3.19   3.40
7           ohc             five          131        mpfi  3.13   3.40
8           ohc             five          131        mpfi  3.13   3.40
9           ohc             four          108        mpfi  3.50   2.80
10          ohc             four          108        mpfi  3.50   2.80
11          ohc              six          164        mpfi  3.31   3.19
12          ohc              six          164        mpfi  3.31   3.19
13          ohc              six          164        mpfi  3.31   3.19
14          ohc              six          209        mpfi  3.62   3.39
15          ohc              six          209        mpfi  3.62   3.39
16          ohc              six          209        mpfi  3.62   3.39
17            l            three           61        2bbl  2.91   3.03
18          ohc             four           90        2bbl  3.03   3.11
19          ohc             four           90        2bbl  3.03   3.11
20          ohc             four           90        2bbl  2.97   3.23
21          ohc             four           90        2bbl  2.97   3.23
22          ohc             four           98        mpfi  3.03   3.39
23          ohc             four           90        2bbl  2.97   3.23
24          ohc             four           90        2bbl  2.97   3.23
25          ohc             four           90        2bbl  2.97   3.23
26          ohc             four           98        mpfi  3.03   3.39
27          ohc             four          122        2bbl  3.34   3.46
28          ohc             four          156         mfi  3.60   3.90
29          ohc             four           92        1bbl  2.91   3.41
..          ...              ...          ...         ...   ...    ...
174         ohc             four          122        mpfi  3.31   3.54
175         ohc             four          122        mpfi  3.31   3.54
176         ohc             four          122        mpfi  3.31   3.54
177        dohc              six          171        mpfi  3.27   3.35
178        dohc              six          171        mpfi  3.27   3.35
179        dohc              six          171        mpfi  3.27   3.35
180        dohc              six          161        mpfi  3.27   3.35
181         ohc             four           97         idi  3.01   3.40
182         ohc             four          109        mpfi  3.19   3.40
183         ohc             four           97         idi  3.01   3.40
184         ohc             four          109        mpfi  3.19   3.40
185         ohc             four          109        mpfi  3.19   3.40
186         ohc             four           97         idi  3.01   3.40
187         ohc             four          109        mpfi  3.19   3.40
188         ohc             four          109        mpfi  3.19   3.40
189         ohc             four          109        mpfi  3.19   3.40
190         ohc             five          136        mpfi  3.19   3.40
191         ohc             four           97         idi  3.01   3.40
192         ohc             four          109        mpfi  3.19   3.40
193         ohc             four          141        mpfi  3.78   3.15
194         ohc             four          141        mpfi  3.78   3.15
195         ohc             four          141        mpfi  3.78   3.15
196         ohc             four          141        mpfi  3.78   3.15
197         ohc             four          130        mpfi  3.62   3.15
198         ohc             four          130        mpfi  3.62   3.15
199         ohc             four          141        mpfi  3.78   3.15
200         ohc             four          141        mpfi  3.78   3.15
201        ohcv              six          173        mpfi  3.58   2.87
202         ohc              six          145         idi  3.01   3.40
203         ohc             four          141        mpfi  3.78   3.15

     compression-ratio horsepower peak-rpm  city-mpg  highway-mpg  price
0                 9.00        111     5000        21           27  16500
1                 9.00        154     5000        19           26  16500
2                10.00        102     5500        24           30  13950
3                 8.00        115     5500        18           22  17450
4                 8.50        110     5500        19           25  15250
5                 8.50        110     5500        19           25  17710
6                 8.50        110     5500        19           25  18920
7                 8.30        140     5500        17           20  23875
8                 7.00        160     5500        16           22      ?
9                 8.80        101     5800        23           29  16430
10                8.80        101     5800        23           29  16925
11                9.00        121     4250        21           28  20970
12                9.00        121     4250        21           28  21105
13                9.00        121     4250        20           25  24565
14                8.00        182     5400        16           22  30760
15                8.00        182     5400        16           22  41315
16                8.00        182     5400        15           20  36880
17                9.50         48     5100        47           53   5151
18                9.60         70     5400        38           43   6295
19                9.60         70     5400        38           43   6575
20                9.41         68     5500        37           41   5572
21                9.40         68     5500        31           38   6377
22                7.60        102     5500        24           30   7957
23                9.40         68     5500        31           38   6229
24                9.40         68     5500        31           38   6692
25                9.40         68     5500        31           38   7609
26                7.60        102     5500        24           30   8558
27                8.50         88     5000        24           30   8921
28                7.00        145     5000        19           24  12964
29                9.60         58     4800        49           54   6479
..                 ...        ...      ...       ...          ...    ...
174               8.70         92     4200        27           32   9988
175               8.70         92     4200        27           32  10898
176               8.70         92     4200        27           32  11248
177               9.30        161     5200        20           24  16558
178               9.30        161     5200        19           24  15998
179               9.20        156     5200        20           24  15690
180               9.20        156     5200        19           24  15750
181              23.00         52     4800        37           46   7775
182               9.00         85     5250        27           34   7975
183              23.00         52     4800        37           46   7995
184               9.00         85     5250        27           34   8195
185               9.00         85     5250        27           34   8495
186              23.00         68     4500        37           42   9495
187              10.00        100     5500        26           32   9995
188               8.50         90     5500        24           29  11595
189               8.50         90     5500        24           29   9980
190               8.50        110     5500        19           24  13295
191              23.00         68     4500        33           38  13845
192               9.00         88     5500        25           31  12290
193               9.50        114     5400        23           28  12940
194               9.50        114     5400        23           28  13415
195               9.50        114     5400        24           28  15985
196               9.50        114     5400        24           28  16515
197               7.50        162     5100        17           22  18420
198               7.50        162     5100        17           22  18950
199               9.50        114     5400        23           28  16845
200               8.70        160     5300        19           25  19045
201               8.80        134     5500        18           23  21485
202              23.00        106     4800        26           27  22470
203               9.50        114     5400        19           25  22625

[204 rows x 24 columns]>

In [26]:
#let's create a new data frame the only includes the price and make
df2 = df[['make','price']]
df2.head()

          make  price
0  alfa-romero  16500
1  alfa-romero  16500
2         audi  13950
3         audi  17450
4         audi  15250